# Server Configuration
PORT=3055
NODE_ENV=development

# Security
GATEWAY_API_KEY=your_secure_s2s_api_key_here
JWT_SECRET=your_jwt_secret_here

# Flutterwave Configuration
FLW_BASE_URL=https://api.flutterwave.com/v3
FLW_PUBLIC_KEY=FLWPUBK-xxxxxxxxxxxxxxxxxxxxxxxx-X
FLW_SECRET_KEY=FLWSECK-xxxxxxxxxxxxxxxxxxxxxxxx-X
FLW_WEBHOOK_SECRET=your_flw_webhook_secret_here

# Paystack Configuration
PAYSTACK_BASE_URL=https://api.paystack.co
PAYSTACK_PUBLIC_KEY=pk_test_xxxxxxxxxxxxxx
PAYSTACK_SECRET_KEY=sk_test_xxxxxxxxxxxxxx
PAYSTACK_WEBHOOK_SECRET=your_paystack_webhook_secret_here

# Firebase Admin configuration
FIREBASE_PROJECT_ID=e-TEST
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@e-Test-Go.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBAAoIBAQC...\n-----END PRIVATE KEY-----\n"
